
.tabela{
    width: 500px;
    // margin: 250px auto;
}

.tabela, th, td{
    border-collapse: collapse; /*define a separação entre as bordar*/
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(161, 161, 161);
}
th{
    background-color: rgb(238, 238, 238);
}

td, .td{
    text-align: center;

    &:hover{
        cursor: default;
    }
}

.graph{
    text-align: center;
    // border: 1px solid black;
    width:300px;
    padding: 20px 50px;
}

.content{
    // background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
}